@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex: 20%;
    margin-left: 10%;
    text-align: center;
}
.logo h1{
    font-family: 'Lobster', cursive;
    color: rgb(177, 177, 177);
    font-size: 34px;
}
.logo h1:hover{
    color: white;
}
.login h1{
    background: #474649;
    padding: 5px;
    color: rgb(177, 177, 177);
    border-radius: 10px;
    font-size: 17px;
    margin-top: 15%;
}
.login h1:hover{
    background: #605f63;
    color: white;
}
body{
    background: #333;
    background-size: cover;
    font-family:'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 3px rgba(0,0,0,0.4);
}
.main{
    max-width: 900px;
    margin: 0 auto;
}
div.newPost{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 0;
    padding: 25px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.05);
}
div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.newPost div.infoUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #333;
}
div.newPost div.infoUser strong{
    font-size: 16px;
    color:#23a0ff;
    margin-left: 10px;
}
div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
}
div.newPost form.formPost textarea{
    background: #fbfbfb;
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    border: 0;
    height: 90px;
    outline: none;
    font-weight: bold;
    color:#727272;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #fff;
}
div.newPost form.formPost textarea:focus{
    border: 2px solid #23a0ff;
}
div.newPost form.formPost div.iconsAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.newPost form.formPost div.iconsAndButton div.icons button{
    outline: none;
    margin-right: 15px;
    border:0;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.newPost form.formPost div.iconsAndButton button.btnSubmitForm{
    background: black;
    padding: 10px 50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
}
div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover{
    background: rgb(48, 48, 48);
}
ul.posts li.post{
    margin-bottom: 50px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.05);
}
ul.posts li.post div.infoUserPost{
    display: flex;
    align-items: center;
}
ul.posts li.post div.infoUserPost  div.nameAndHour{
    margin-left: 10px;
}
ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
}
ul.posts li.post div.infoUserPost  div.nameAndHour >strong{
    color:#23a0ff;
}
ul.posts li.post div.infoUserPost div.nameAndHour >p{
    color:#d1d1d1;
    font-size: 12px;
}
ul.posts li.post >p{
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;
}
ul.posts li.post div.actionBtnPost{
    display: flex;
    align-items: center;
}
ul.posts li.post div.actionBtnPost button.filesPost{
    padding: 5px 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.2s;
}
ul.posts li.post div.actionBtnPost button.filesPost img{
    margin-right: 5px;
}
.like, .comment, .share{
    background: white;
}
.like:hover, .comment:hover, .share:hover{
    background: white;
}
